<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/project-show-page.css">
    <title>Project Details</title>
    <%-include('../nav.ejs')%>
</head>
<body>
    <main>
        <section class="section-left-reduced">
            <div class="section-left">
                <% if (user) { %>
                    <% if (isShowing) { %>
                        <%-include('./index.ejs', {userProjs, userAssignedProjects})%>
                        <% } %>
                <% } %>
            </div>
        </section>
            <div class="project-details">
                <% projectDetails.forEach((project) => { %>
                    <p class="title"><%=project.title %></p>
                    <% project.assignedUsers.forEach((data) => { %>
                        <p><%=data.user %> role: <%=data.privilege %></p>
                    <% }) %>
                    <p class="date">Project Deadline</p>
                    <p id="date-p"><%=project.dueDate%></p>
                    <a href="" class="link-list">List +</a>

                    <% if (!project.assignedUsers.some(userObj => 
                        userObj.user === user.username && ['member', 'observer'].includes(userObj.privilege)
                    )) { %>
                        <div class="card-buttons">
                            <form action="/users/<%= user._id %>/projects/<%= project._id %>?_method=DELETE" method="post">
                                <button type="submit">Delete</button>
                            </form>
                            <a href="/users/<%= user._id %>/projects/<%= project._id %>/edit" class="edit-link">Edit</a>
                        </div>
                    <% } %>
                <% }) %> 
            </div>
        </section>
        <section>
            <div class="section-right">
                
            </div>
        </section>
    </main>
</body>
</html>