<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/project-show-page.css">
    <title>Project Details</title>
    <%-include('../nav.ejs')%>
</head>
<body>
    <main>
        <section class="section-left-reduced">
            <div class="section-left">
                <% if (user) { %>
                    <% if (isShowing) { %>
                        <%-include('./index.ejs', {userProjs, userAssignedProjects})%>
                        <% } %>
                <% } %>
            </div>
        </section>    
            <div class="section-mid">
                <div class="project-details">

                    <% const capitalizeFirstLetter = (string) => { %>
                        <% return string.charAt(0).toUpperCase() + string.slice(1); %>
                    <% };%>
        
                    <% projectDetails.forEach((project) => { %>
                        <p class="title"><%= capitalizeFirstLetter(project.title) %></p>
                        <p>Founder: <%= capitalizeFirstLetter(theLord) %></p>
                        <% project.assignedUsers.forEach((data) => { %>
                            <p><%= capitalizeFirstLetter(data.user) %> <br> Role: <%= capitalizeFirstLetter(data.privilege) %></p>
                        <% }) %>
                        <p class="date">Project Deadline</p>
                        <p id="date-p"><%= capitalizeFirstLetter(project.dueDate) %></p>
        
                        <% if (project.assignedUsers.some(userObj => userObj.user === user.username && ['member'].includes(userObj.privilege))) { %>
                        <a href="/users/<%= user._id %>/projects/<%= project._id %>/lists/new" class="link-list">List +</a>
                        
                        <% }else if (project.assignedUsers.some(userObj => userObj.user === user.username && ['observer'].includes(userObj.privilege))) { %>
                        
                        <% } else { %>
                            <a href="/users/<%= user._id %>/projects/<%= project._id %>/lists/new" class="link-list">List +</a>
                            <div class="card-buttons">
                                <a href="/users/<%= user._id %>/projects/<%= project._id %>/edit" class="edit-link">Edit</a>
                                <form action="/users/<%= user._id %>/projects/<%= project._id %>?_method=DELETE" method="post">
                                    <button type="submit">Delete</button>
                                </form>
                            </div>
                        <%}%>
                    <% })%>      
                </div>
            </div>    
    
            <section>
                <div class="section-right">
                    <% projectDetails.forEach((project) => { %>
                        <% let lists = project.lists || []; %> 
                        <div class="card-list-display">
                            <% lists.forEach((listItem) => { %>
                                <div class="card">
                                    <p class="title"><%= listItem.listTitle %></p>
                                    <% listItem.listText.forEach((text) => { %>
                                        <div class="text">
                                            <p><%= text %></p>
                                        </div>
                                    <% }) %>
                                </div>
                                <div class="buttons">
                                    <% if (project.assignedUsers.some(userObj => userObj.user === user.username && ['observer'].includes(userObj.privilege))) { %>
                                    <% }   else { %>
                                    <a href="/users/<%= user._id %>/projects/<%= project._id %>/lists/<%=listItem._id%>/edit">Edit</a>
                                    <form action="/users/<%= user._id %>/projects/<%= project._id %>/lists/<%=listItem._id%>?_method=DELETE" method="post" style="display:inline;">
                                    <button type="submit">Delete</button>
                                    </form>
                                    <%} %>
                                </div>
                            <% }) %>
                        </div>
                    <% }) %>
                </div>
            </section>
            
    </main>
</body>
</html>